Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Confirm keep inactivity in TBTC extension
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Improve deposit state confirmation logic
  pkg/extensions/tbtc/tbtc.go
Due: none

Improve deposit state confirmation error messages
  pkg/extensions/tbtc/tbtc.go
Due: none

Adjust ECDSA keep rewards by lifespan
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Rename `depositFilterFn` type
  pkg/extensions/tbtc/tbtc.go
Due: none

Improve functions formatting
  pkg/extensions/tbtc/tbtc.go
Due: none

Refactor `RandomSigningGroup` function
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Change monitoring already running log message
  pkg/extensions/tbtc/tbtc.go
Due: none

Use atomic to count action invocations
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Use the confirmation waiter from keep-common
  go.mod
  go.sum
  pkg/chain/chain.go
  pkg/chain/confirmation.go
  pkg/extensions/tbtc/tbtc.go
Due: none

Use the confirmation waiter from keep-common II
  pkg/client/client.go
  pkg/client/registration.go
Due: none

Update keep-common version
  go.mod
  go.sum
Due: none

Introduce time cache for the monitoring filter
  pkg/extensions/tbtc/tbtc.go
Due: none

Display warning if stop event is not confirmed
  pkg/extensions/tbtc/tbtc.go
Due: none

Log messages and naming improvements
  pkg/extensions/tbtc/tbtc.go
Due: none

Use `chainutil.WaitForBlockConfirmations`
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/registration.go
  pkg/extensions/tbtc/tbtc.go
Due: none

Introduce signer action delay
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Validate operator and authorizer for zero address
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/test/FullyBackedBondingTest.js
Due: lint-js, lint-sol

Document TBTC extension constants
  pkg/extensions/tbtc/tbtc.go
Due: none

Improve `getSignerIndex` method
  pkg/extensions/tbtc/tbtc.go
Due: none

Unit tests for TBTC optimizations
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Improve docs and log errors
  pkg/extensions/tbtc/tbtc.go
Due: none

Confirmations for keep public key submission
  pkg/node/node.go
Due: none

Report open instead of closed keeps, and include bond amounts
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

harness and spec before review
  solidity/contracts/AbstractBonding.sol
  solidity/specs/fullyBackedBonding.spec
  solidity/specs/harness/FullyBackedBondingHarness.sol
  solidity/specs/harness/OtherBeneficiary.sol
Due: lint-sol

whitespace
  solidity/contracts/AbstractBonding.sol
Due: lint-sol

runs script
  solidity/runCertora.sh
  solidity/scripts/runCertora.sh
Due: none

script file
  solidity/scripts/runCertora.sh
Due: none

Block confirmations for keep signature
  pkg/node/node.go
Due: none

lint
  solidity/contracts/AbstractBonding.sol
Due: lint-sol

lint for harness
  solidity/specs/harness/Beneficiary.sol
  solidity/specs/harness/FullyBackedBondingHarness.sol
  solidity/specs/harness/OtherBeneficiary.sol
Due: lint-sol

Increase fee by a step from the two latest events
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Rework block confirmations for keep keygen
  pkg/node/node.go
Due: none

Next rework of block confirmations for keep keygen
  pkg/node/node.go
Due: none

Optimise gas costs of sending heartbeats
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Add function to query recorded heartbeats
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Fix missing `memory` keyword in recorded heartbeats
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Update keep-common and keep-core dependencies
  go.mod
  go.sum
Due: none

Revert tbtc version
  go.mod
  go.sum
Due: none
