Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Moving sortition pool factory inside initializeNewFactory()
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Asserting only the final balance of each beneficiary instead of every iteration of opened keep
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Cleaning up ECDSARewards draft
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Adding allocation rewards tests and happy path distribution rewards
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Adding more test around termination and unallocated rewards
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Using precision defined at the beginning of the test
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Improving docs and changing start interval to 12am 2020-09-14
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Fixing percantage for ECDSA stakers opened after Sep 14
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Extracting common code for rewards tests
  solidity/test/rewards/TestECDSARewards.js
  solidity/test/rewards/rewardsSetup.js
Due: lint-js

Using extracted functions for backport rewards test
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Matching first interval to the one from contract
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Moving exptected interval allocation at the top
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Renaming membersArr to members
  solidity/test/rewards/rewardsSetup.js
Due: lint-js

KEEPRewards -> totalRewardsAllocation
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

setup -> contracts
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Removing expectRevert on terminated address
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Moving expected beneficiary calculations closer to assertions
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Minimum keep count to obtain ECDSA reward set to 1000
  solidity/contracts/ECDSARewards.sol
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Guard internal reward checks by validating keep identifier
  solidity/contracts/ECDSABackportRewards.sol
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Linter made happy
  solidity/contracts/ECDSABackportRewards.sol
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Fixed parameter names in _isClosed and _isTerminated backport functions
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Update run-keep-ecdsa.adoc
  docs/run-keep-ecdsa.adoc
Due: none

Allowing stakers to receive rewards for multiple keeps
  solidity/contracts/ECDSARewards.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Add actions to the config file
  configs/config.toml.SAMPLE
  internal/config/config.go
Due: none

Add TBTC actions and chain extensions stub
  pkg/actions/tbtc_actions.go
  pkg/chain/ethereum/tbtc_extensions.go
Due: none

Return struct from the connect function
  pkg/chain/ethereum/connect.go
Due: none

Enable app-specific actions in the start command
  cmd/start.go
Due: none

Fixing tests that will fail in the future due to interval increase
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Using safe math functions
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
Due: lint-sol

Added Bison Trails mainnet bootstrap nodes
  docs/run-keep-ecdsa.adoc
Due: none

Added Figment Network mainnet bootstrap nodes
  docs/run-keep-ecdsa.adoc
Due: none

Use TBTC contract bindings
  go.mod
  go.sum
  pkg/chain/ethereum/tbtc_extensions.go
Due: none

Bump up tbtc go bindings
  go.mod
  go.sum
Due: none

Simplifying logic for keeps creation
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Avoiding overloading receiveReward and improving docs
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Modifying tests
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Calling timeJumpToEndOfIntervalIfApplicable instead of timeJumpToEndOfInterval
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Align with tbtc bindings changes
  go.mod
  go.sum
  pkg/chain/ethereum/tbtc_extensions.go
Due: none

Removing whitespaces to pass linter
  solidity/contracts/ECDSARewards.sol
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
Due: lint-sol

Actions structure change
  cmd/start.go
  pkg/applications/tbtc/tbtc.go
Due: none
