Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Updated logs for operator fraud check
  staker-rewards/lib/fraud-detector.js
Due: lint-js

Removed unused clc import
  staker-rewards/lib/fraud-detector.js
Due: lint-js

Add `toBlock` parameter to `getPastEvents` fn
  staker-rewards/lib/contract-helper.js
Due: lint-js

Removed colon from log message
  staker-rewards/lib/fraud-detector.js
Due: lint-js

ETH bonded parameter calculations
  staker-rewards/lib/assets-calculator.js
Due: lint-js

Adding tests for ECDSARewardsDistributor contract
  solidity/test/staker-rewards/MerkleDistributorTest.js
  solidity/test/staker-rewards/rewardsData.js
Due: lint-js

Improving docs for the rewards distributor contract
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Flipping the order of validation when claiming rewards
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Cleaning up leftovers
  .gitignore
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Linting MerkleDistributorTest.js
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Updating package-lock.js
  staker-rewards/package-lock.json
Due: none

Get rid of the random beacon operator contract
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
Due: lint-js

Improve docs in the `fetchBondEvents` function
  staker-rewards/lib/assets-calculator.js
Due: lint-js

Hardcode sanctioned app address
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
  staker-rewards/package-lock.json
  staker-rewards/package.json
Due: lint-js

Move float rounding to the presentation layer
  staker-rewards/lib/assets-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Align staker rewards script logging
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/sla-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Removing submodule depended on Uniswap/merkle-distributor
  .gitmodules
Due: none

Adding fork as submodule of a merkle-distributor project
  .gitmodules
Due: none

Implement unit tests for assets calculation
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/fraud-detector.js
  staker-rewards/lib/sla-calculator.js
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/test/assets-calculator.test.js
  staker-rewards/test/data/test-blockchain.json
Due: lint-js

Moving assertion of RewardsAllocated event to a seperate test
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Changing:
  solidity/test/staker-rewards/MerkleDistributorTest.js
  solidity/test/staker-rewards/rewardsData.js
Due: lint-js

Adding assertion of transfered tokens to a staker account
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Using addn for adding a number to BN
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Adding more tests:
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Adding indexed in RewardsClaimed event for index param
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Adding additional assertion for token receiver
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Adding package-lock.json
  staker-rewards/package-lock.json
Due: none

Adding additional test for isClaimed()
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js

Rewards calculator stub
  staker-rewards/README.adoc
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Updated keep-core contracts dependency to 1.5.0-pre.1
  solidity/package-lock.json
Due: none

ECDSARewardsDistributorEscrow contract
  solidity/contracts/ECDSARewardsDistributorEscrow.sol
  solidity/test/rewards/TestECDSARewardsDistributorEscrow.js
Due: lint-js, lint-sol

Align KEEP values handling
  staker-rewards/rewards.js
Due: lint-js

Revert "Align KEEP values handling"
  staker-rewards/rewards.js
Due: lint-js

Use Tenderly to fetch function calls
  staker-rewards/lib/tenderly.js
  staker-rewards/package.json
Due: lint-js

Make keeps dedicated cache
  staker-rewards/data/cache-keeps.json
  staker-rewards/lib/cache.js
Due: lint-js

Added transactions cache
  staker-rewards/data/cache-transactions.json
  staker-rewards/lib/cache.js
Due: lint-js

Setup tenderly on context initialization
  staker-rewards/lib/context.js
Due: lint-js

Authorization conditions checks
  staker-rewards/lib/conditions.js
Due: lint-js

Renamed SanctionedApplication to sanctionedApplicationAddress
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
Due: lint-js

Expect Tenderly API key as env variable
  staker-rewards/rewards.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
