Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Paremeterizing staker-reward allocation input file
  staker-rewards/rewards-merkle-generator.sh
  staker-rewards/rewards.js
Due: lint-js

Make SLA conditions less restrictive
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/test/rewards-calculator.test.js
Due: lint-js

Display `SLAViolated` column
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Appending merkle objects to a file instead of creating a new one
  staker-rewards/generated-rewards/generate-merkle-root.ts
Due: none

Bringing back accidentally removed 'fs' dependency
  staker-rewards/rewards.js
Due: lint-js

Renaming /generated-rewards dir to distributor
  staker-rewards/distributor/generate-merkle-root.ts
  staker-rewards/distributor/package-lock.json
  staker-rewards/distributor/package.json
  staker-rewards/rewards-merkle-generator.sh
  staker-rewards/rewards.js
Due: lint-js

Updating package-lock.json
  staker-rewards/package-lock.json
Due: none

Changing distribution package description
  staker-rewards/distributor/package.json
Due: none

Described input and requirements for reward generation algorithm
  staker-rewards/README.adoc
Due: none

Display formula for calculating staker rewards
  staker-rewards/README.adoc
  staker-rewards/rewards.png
Due: none

Adding tenderly project url and acceess token as optional params
  staker-rewards/rewards-merkle-generator.sh
Due: none

Transfer rewards to the beneficiary
  solidity/contracts/ECDSARewardsDistributor.sol
  solidity/test/staker-rewards/MerkleDistributorTest.js
  solidity/test/staker-rewards/rewardsData.js
Due: lint-js, lint-sol

Updated information on running the script for calculating reward distribution
  staker-rewards/README.adoc
Due: none

Improvements for Staker Rewards Requirements README section
  staker-rewards/README.adoc
Due: none

s/ETH_total/ETH_locked
  staker-rewards/README.adoc
Due: none

Mention about reward rounding that happens in the table
  staker-rewards/README.adoc
Due: none

Renamed account to operator
  solidity/contracts/ECDSARewardsDistributor.sol
  solidity/test/staker-rewards/MerkleDistributorTest.js
  solidity/test/staker-rewards/rewardsData.js
Due: lint-js, lint-sol

Fixed unit test for escrow
  solidity/test/rewards/TestECDSARewardsDistributorEscrow.js
Due: lint-js

Adding optional -v (verify) flag
  staker-rewards/rewards-merkle-generator.sh
Due: none

Adding a comment about why we convert to rewards to hex format
  staker-rewards/rewards.js
Due: lint-js

Adding rewards generated files to .gitignore
  .gitignore
Due: none

Renaming flag for <eth_host> from -h to -w
  staker-rewards/rewards-merkle-generator.sh
Due: none

Removed redundant zero address check
  solidity/contracts/ECDSARewardsDistributor.sol
  solidity/test/staker-rewards/MerkleDistributorTest.js
Due: lint-js, lint-sol

Stylystic improvements to Staker Rewards README
  staker-rewards/README.adoc
Due: none

Updated eth_host option name
  staker-rewards/README.adoc
Due: none

Made it explicit in README rewards go to beneficiary
  staker-rewards/README.adoc
Due: none

Remove bullet point in Prerequisites section
  staker-rewards/README.adoc
Due: none

Small, final improvements to staker-rewards README
  staker-rewards/README.adoc
Due: none

Contracts 1.4.0 release
  solidity/package-lock.json
  solidity/package.json
Due: none

Bumping up contract versions to 1.5.0-pre.0
  solidity/package-lock.json
  solidity/package.json
Due: none

2020-11-13 -> 2020-11-20 rewards allocation
  .gitignore
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-11-13_2020-11-20.summary.txt
Due: none

2020-11-20 -> 2020-11-27 rewards allocation
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-11-20_2020-11-27.summary.txt
Due: none

2020-11-27 -> 2020-12-04 rewards allocation
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-11-27_2020-12-04.summary.txt
Due: none

2020-12-04 -> 2020-12-11 rewards allocation
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-12-04_2020-12-11.summary.txt
Due: none

Execution logs from generating rewards
  staker-rewards/reports/2020-11-13_2020-11-20.log.txt
  staker-rewards/reports/2020-11-20_2020-11-27.log.txt
  staker-rewards/reports/2020-11-27_2020-12-04.log.txt
  staker-rewards/reports/2020-12-04_2020-12-11.log.txt
Due: none

Keep cache updated with the most recent mainnet state
  staker-rewards/data/cache-keeps.json
Due: none

Pull the Synthetix Unipool contract from mainnet
  solidity/contracts/Unipool.sol
Due: lint-sol

Paramaterize the Synethetix Unipool for LP rewards
  solidity/contracts/LPRewards.sol
Due: lint-sol

Deploy ECDSARewardsDistributor contract
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Add scripts to help init ECDSARewardsDistributor
  solidity/scripts/generate-staker-rewards-input.js
  solidity/scripts/initialize-ecdsa-rewards-distributor.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
