Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Using web3 conversion to wei instead of multiplying by 10^18
  solidity/test/LPRewardsTest.js
Due: lint-js

Simplify `lcl-provision-external-contracts` script
  solidity/scripts/lcl-provision-external-contracts.sh
Due: none

Refactoring mintAndApproveWrappedTokens for reusability
  solidity/test/LPRewardsTest.js
Due: lint-js

Add KEEP props to lcl-provision-external-contracts
  solidity/scripts/lcl-provision-external-contracts.sh
Due: none

Deploy LPRewards contracts via 2_deploy_contracts
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Add script which sets mock data in LPRewards
  solidity/scripts/liquidity-rewards-starter.js
Due: lint-js

Explaining calculation of reward per token
  solidity/test/LPRewardsTest.js
Due: lint-js

Revert "Using web3 conversion to wei instead of multiplying by 10^18"
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
  staker-rewards/report.20201209.140601.50277.0.001.json
  staker-rewards/report.20201209.143222.61512.0.001.json
Due: lint-js, lint-sol

Cleaning up
  solidity/test/LPRewardsTest.js
Due: lint-js

Removing accidental code
  solidity/contracts/LPRewards.sol
Due: lint-sol

Linting only
  solidity/test/LPRewardsTest.js
Due: lint-js

Removing typos ballance -> balance
  solidity/test/LPRewardsTest.js
Due: lint-js

Fixing assignment to const value
  solidity/test/LPRewardsTest.js
Due: lint-js

Removing unnecessary approval before KEEP transfer
  solidity/test/LPRewardsTest.js
Due: lint-js

Updated to latest BatchedPhasedEscrow changes
  solidity/contracts/LPRewards.sol
  solidity/contracts/LPRewardsEscrowBeneficiary.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Removed not used function
  solidity/test/LPRewardsTest.js
Due: lint-js

Use latest keep-core package
  solidity/package-lock.json
Due: none

Solidity contracts version 1.5.0 release
  solidity/package-lock.json
  solidity/package.json
Due: none

Started pre-release version 1.6.0-pre
  solidity/package-lock.json
  solidity/package.json
Due: none

Add missing setup step in liqidity reward starter
  solidity/scripts/liquidity-rewards-starter.js
Due: lint-js

ECDSA staker rewards: 2020-12-18 -> 2020-12-25
  staker-rewards/data/cache-keeps.json
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-12-18_2020-12-25.log.txt
  staker-rewards/reports/2020-12-18_2020-12-25.summary.txt
Due: none

cleanup to the spec
  solidity/specs/fullyBackedBonding.spec
Due: none

Return from monitoring loop on maxPubkeyChecksCount
  pkg/node/node.go
Due: none

Updating keep-common version for development
  go.mod
  go.sum
Due: none

Updated keep-core version for development
  go.mod
  go.sum
Due: none

Expose Signing interface for chain implementations
  pkg/chain/chain.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
Due: none

Log addresses of keep members in announcement phase
  pkg/ecdsa/tss/protocol_announce.go
  pkg/ecdsa/tss/protocol_announce_test.go
  pkg/node/node.go
Due: none

Log addresses of keep members in readiness phase
  cmd/signing.go
  pkg/ecdsa/tss/protocol_ready.go
  pkg/ecdsa/tss/protocol_ready_test.go
  pkg/ecdsa/tss/tss.go
  pkg/ecdsa/tss/tss_test.go
  pkg/node/node.go
Due: none

Improved error message when public key for member ID is not available
  pkg/ecdsa/tss/protocol_announce.go
Due: none

s/pubKey/publicKey
  pkg/ecdsa/tss/protocol_announce.go
Due: none

Log keep address on a higher level for ID->address conversion error
  pkg/ecdsa/tss/protocol_ready.go
Due: none

Simplified map checks for announce and readiness protocols
  pkg/ecdsa/tss/protocol_announce.go
  pkg/ecdsa/tss/protocol_ready.go
Due: none

s/pubKeyToAddressFn/publicKeyToAddressFn
  pkg/ecdsa/tss/protocol_announce.go
  pkg/ecdsa/tss/protocol_ready.go
Due: none

Use correct length for keep member addresses slice
  pkg/node/node.go
Due: none

Continue instead of breaking on deadline and pubkey->addr fail
  pkg/ecdsa/tss/protocol_ready.go
Due: none

Prepend operator address with 0x in announce and readiness protocol logs
  pkg/ecdsa/tss/protocol_announce.go
  pkg/ecdsa/tss/protocol_ready.go
Due: none

Prepend operator address with 0x when loggin it has not signalled
  pkg/ecdsa/tss/protocol_announce.go
  pkg/ecdsa/tss/protocol_ready.go
Due: none

Reduced signeture publication delay to 90 seconds
  pkg/node/node.go
Due: none

Simplified member readiness check condition
  pkg/ecdsa/tss/protocol_ready.go
Due: none
