Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Updated keep-core reference to 1.3.1-pre.3
  solidity/package-lock.json
  solidity/package.json
Due: none

Linting ECDSARewards contract code
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Implementation of the redemption proof action
  go.mod
  go.sum
  pkg/chain/chain.go
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/ethereum/tbtc.go
  pkg/chain/event.go
  pkg/chain/gen/filterer/BondedECDSAKeepFilterer.go
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/chain.go
  pkg/extensions/tbtc/events_log.go
  pkg/extensions/tbtc/tbtc.go
Due: none

Set the right timeout for redemption proof action
  pkg/extensions/tbtc/tbtc.go
Due: none

Move auxiliary types above `monitorAndAct`
  pkg/extensions/tbtc/tbtc.go
Due: none

Change alias of the `pkg/chain` package
  pkg/chain/ethereum/tbtc.go
Due: none

Update tbtc and use the `TBTCSystemEventLog`
  go.mod
  go.sum
  pkg/chain/ethereum/tbtc.go
Due: none

Rename `BondedECDSAKeepFilterer`
  pkg/chain/ethereum/ethereum.go
  pkg/chain/gen/eventlog/BondedECDSAKeepEventLog.go
Due: none

Add TODO about chain reorgs
  pkg/extensions/tbtc/tbtc.go
Due: none

Change signature lookup during action execution
  pkg/chain/chain.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/event.go
  pkg/chain/gen/eventlog/BondedECDSAKeepEventLog.go
  pkg/extensions/tbtc/tbtc.go
Due: none

Fixed assertKeepBalanceOfBeneficiaries
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Call withdrawRewards in tests
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Optimize the start block when fetching past events
  pkg/extensions/tbtc/tbtc.go
Due: none

Add `operator` parameter to `withdrawRewards`
  solidity/contracts/ECDSARewards.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Fix indentation in `withdrawRewards`
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Update `withdrawRewards` documentation
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Add view functions for allocated, withdrawn and withdrawable rewards
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Happy path test for provide redemption signature
  pkg/chain/local/bonded_ecdsa_keep.go
  pkg/chain/local/bonded_ecdsa_keep_factory.go
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Add GoSec exception for local chain randomness
  pkg/chain/local/tbtc.go
Due: none

Linting TestECDSARewards.js
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Add remaining tests for provide signature action
  pkg/chain/ethereum/tbtc.go
  pkg/chain/local/bonded_ecdsa_keep.go
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/chain.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Happy path test for provide redemption proof
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Refer to the most recent pre versions of keep dependencies
  solidity/package-lock.json
  solidity/package.json
Due: none

Adding tests around tracking rewards distribution
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Project version for contracts set to 1.3.0-pre.0
  solidity/package-lock.json
  solidity/package.json
Due: none

Fix failing unit tests
  pkg/chain/local/bonded_ecdsa_keep_test.go
  pkg/chain/local/local_test.go
Due: none

Add remaining tests for provide proof action
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Adding test for max cap rewards per beneficiary
  solidity/contracts/ECDSARewards.sol
  solidity/contracts/test/ECDSARewardsStub.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Remove .only
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Adding verification for unallocated rewards after the max cap
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Adding a function to report terminations for multiple keeps at once
  solidity/contracts/ECDSARewards.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Tidy the go.sum file
  go.sum
Due: none

Add comment to `BlockTimestamp` method
  pkg/chain/chain.go
Due: none

Add TODO about rate limiter
  pkg/chain/ethereum/connect.go
Due: none

Revert "Expect contract typed addresses in constructors"
  solidity/contracts/AbstractBonding.sol
  solidity/contracts/KeepBonding.sol
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/contracts/test/AbstractBondingStub.sol
Due: lint-sol

Removed comment about clone removal
  solidity/contracts/BondedECDSAKeep.sol
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeep.sol
Due: lint-sol

Move TBTC chain interface to `pkg/chain`
  pkg/chain/event.go
  pkg/chain/tbtc.go
  pkg/extensions/tbtc/tbtc.go
Due: none

Fix import alias
  pkg/chain/local/bonded_ecdsa_keep_test.go
Due: none

Add discussion link to the TODOs section
  pkg/extensions/tbtc/tbtc.go
Due: none

Renamed FullyBackedBondedECDSAKeep to FullyBackedECDSAKeep
  solidity/contracts/fully-backed/FullyBackedECDSAKeep.sol
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
  solidity/contracts/test/FullyBackedECDSAKeepCloneFactoryStub.sol
  solidity/contracts/test/FullyBackedECDSAKeepFactoryStub.sol
  solidity/contracts/test/FullyBackedECDSAKeepStub.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/migrations/3_initialize.js
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedECDSAKeepTest.js
Due: lint-js, lint-sol
