Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Log intervals when switching to partial event pulls
  staker-rewards/lib/contract-helper.js
Due: lint-js

Add SECURITY.adoc pointing to keep-core
  SECURITY.adoc
Due: none

Undelegating operators in staker rewards script
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Undelegating operator logic fix and unit tests
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/test/data/test-blockchain.json
  staker-rewards/test/rewards-calculator.test.js
Due: lint-js

Prototype of the subscription function
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/gen/cmd/BondedECDSAKeep.go
  pkg/chain/gen/cmd/BondedECDSAKeepFactory.go
  pkg/chain/gen/cmd/BondedECDSAKeepVendor.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/event/BondedECDSAKeepFactorySubscription.go
Due: none

Regenerated contract bindings based on the most recent keep-common
  go.mod
  go.sum
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/contract/BondedECDSAKeepVendor.go
Due: none

Change `ethTotal` value for undelegating operator
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Don't check `undelegatedAt` against interval start
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Rework undelegating operator condition
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Improvements of the `isUndelegatingOperator` fn
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Update only requires contracts dependencies
  .github/workflows/npm.yml
Due: none

Update staker rewards doc about undelegating operators
  staker-rewards/README.adoc
Due: none

Refactor of the undelegating operator logic
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/rewards.js
  staker-rewards/test/assets-calculator.test.js
  staker-rewards/test/data/test-blockchain.json
  staker-rewards/test/rewards-calculator.test.js
Due: lint-js

Change `isUndelegating` column header
  staker-rewards/rewards.js
Due: lint-js

Added log message for sortition pool check
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/provision-keep-ecdsa.js
Due: lint-js

Check authorizations before submitting request
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/provision-keep-ecdsa.js
Due: lint-js

Updated file formatting
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/provision-keep-ecdsa.js
Due: lint-js

Pass ethereum block counter to generated ethereum contract
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
Due: none

Global prettier configuration
  .prettierignore
  .prettierrc.yaml
Due: none

Global prettier checks in GitHub Actions
  .github/workflows/format.yml
Due: none

Prettier check pre-commit hook
  .pre-commit-config.yaml
Due: none

Added ESLint configuration for initcontainer scripts
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/.eslintrc
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/package-lock.json
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/package.json
Due: none

ECDSA staker rewards: 2021-01-08 -> 2021-01-15
  staker-rewards/data/cache-keeps.json
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2021-01-08_2021-01-15.log.txt
  staker-rewards/reports/2021-01-08_2021-01-15.summary.txt
Due: none

Updated keep-common dependency version for development
  go.mod
  go.sum
Due: none

Regenerated contract and command code
  pkg/chain/gen/cmd/BondedECDSAKeep.go
  pkg/chain/gen/cmd/BondedECDSAKeepFactory.go
  pkg/chain/gen/cmd/BondedECDSAKeepVendor.go
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/contract/BondedECDSAKeepVendor.go
Due: none

Adjusted event subscriptions to re-generated ethereum contract bindings
  pkg/chain/ethereum/ethereum.go
Due: none

Tiny fix to the warning log missing formatting piece
  pkg/client/client.go
Due: none

Exported RequestSignature in local chain interface
  pkg/chain/local/bonded_ecdsa_keep.go
  pkg/chain/local/bonded_ecdsa_keep_test.go
  pkg/chain/local/local.go
  pkg/chain/local/local_test.go
  pkg/chain/local/tbtc.go
Due: none

Added has function to key-gen and signature events tracker
  pkg/client/events_tracking.go
  pkg/client/events_tracking_test.go
Due: none

events_tracking.go -> event_tracking.go
  pkg/client/event_tracking.go
  pkg/client/event_tracking_test.go
Due: none

Decrease the required keygen SLA to 80%
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/test/rewards-calculator.test.js
Due: lint-js

local chain IsAwaitingSignature and GetPublicKey functions
  pkg/chain/local/local.go
  pkg/chain/local/local_test.go
Due: none

Saddle BTC LP rewards
  solidity/contracts/LPRewards.sol
Due: lint-sol

Unit tests covering LPRewardsTBTCSaddle
  solidity/contracts/LPRewards.sol
  solidity/contracts/test/LPRewardsStaker.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Deduplicator for key-gen and signature request events
  pkg/client/event_deduplicator.go
  pkg/client/event_deduplicator_test.go
Due: none

Abstracted tracker code for simple keep events
  pkg/client/client.go
  pkg/client/event_deduplicator.go
  pkg/client/event_tracking.go
  pkg/client/event_tracking_test.go
Due: none

EOA -> Externally Owned Account
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Test ensuring setGated updates the state
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Unit test making sure LPRewardsTBTCSaddle is gated by default
  solidity/test/LPRewardsTest.js
Due: lint-js

lpRewardsStaker -> stakerContract
  solidity/test/LPRewardsTest.js
Due: lint-js
