Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Update keep-core and keep-common dependencies
  cmd/start.go
  go.mod
  go.sum
Due: none

Reorganizing tests and extracting withdrawRewards call
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Adding a test for already received rewards
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Extract balance monitoring constants
  cmd/start.go
Due: none

Minor improvements to the balance monitoring
  cmd/start.go
  pkg/chain/ethereum/ethereum.go
Due: none

Confirmed bondWeightDivisor to 1 ETH
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
Due: lint-sol

Increased DELEGATION_LOCK_PERIOD to 2 weeks
  solidity/contracts/fully-backed/FullyBackedBonding.sol
Due: lint-sol

Remove unused getter for beneficiaryRewardCap
  solidity/contracts/test/ECDSARewardsStub.sol
Due: lint-sol

Updated delegation lock period hardcoded in test
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js

Adding a test for rewards when keeps are not closed at the same time
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Reformatted docs for _distributeReward function
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Adding a setter for beneficiaryRewardCap
  solidity/contracts/test/ECDSARewardsStub.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Removing operators param from helper functions
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Renamed allocatedForBeneficiary to allocated
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Be explicit about which fields of ECDSARewards are internal
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Linting ECDSARewards code
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Removing batch processing functions since they will be located in the main Rewards.sol
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Adding a test for group terminations after tests reorg
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js

Updated dependency to sortition-pools
  solidity/package-lock.json
  solidity/package.json
Due: none

Unregister members on fully backed keep termination
  solidity/contracts/fully-backed/FullyBackedECDSAKeep.sol
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
  solidity/contracts/test/FullyBackedECDSAKeepCloneFactoryStub.sol
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedECDSAKeepTest.js
Due: lint-js, lint-sol

Include delegation value in OperatorDelegated event
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/test/FullyBackedBondingTest.js
Due: lint-js, lint-sol

Set minimum delegation deposit to 40 ETH
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js, lint-sol

Decided on 20 ETH as minimum bond value
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
Due: lint-sol

Improved time increase value in test
  solidity/test/FullyBackedBondingTest.js
Due: lint-js

Updated delegation lock period to 12 hours
  solidity/contracts/fully-backed/FullyBackedBonding.sol
Due: lint-sol

Improved docs around fully backed bonding
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
Due: lint-sol

Cleaned up truffle deploy script
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Assert createdAt and undelegatedAt in delegation test
  solidity/test/FullyBackedBondingTest.js
Due: lint-js

Cleaned truffle init script
  solidity/migrations/3_initialize.js
Due: lint-js

Removed not used addKeep function from test stubs
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
  solidity/contracts/test/FullyBackedECDSAKeepFactoryStub.sol
Due: lint-sol

Improved time increase margin in tests
  solidity/test/FullyBackedBondingTest.js
Due: lint-js

Removed not needed TODO comment in test
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js

Very minor improvements to tests
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedECDSAKeepTest.js
Due: lint-js

Get delegation lock period from contract in tests
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js

Removed not needed call in initialization script
  solidity/migrations/3_initialize.js
Due: lint-js

Defined ini period in truffle deployment script
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Filter TBTC monitoring by operator interest
  cmd/start.go
  pkg/client/client.go
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Added tests for operator updates
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js

Added top up function to Fully Backed Bonding contract
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/test/FullyBackedBondingTest.js
Due: lint-js, lint-sol

Fixed failing test
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
