Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Add additional docs to `REORG_DEPTH_BLOCKS` const
  staker-rewards/lib/cache.js
Due: lint-js

Rename `deploymentBlock`
  staker-rewards/lib/cache.js
  staker-rewards/lib/context.js
Due: lint-js

Rename `keepsOnChain` variable
  staker-rewards/lib/cache.js
Due: lint-js

Change the log about starting block
  staker-rewards/lib/cache.js
Due: lint-js

Improvements around staker rewards logging and doc
  staker-rewards/lib/cache.js
Due: lint-js

Introduce helper methods for fetching event time
  staker-rewards/lib/cache.js
Due: lint-js

Document `getKeepStatus` method
  staker-rewards/lib/cache.js
Due: lint-js

Extract keep specific code to `lib/keep.js`
  staker-rewards/lib/cache.js
  staker-rewards/lib/contract-helper.js
  staker-rewards/lib/keep.js
  staker-rewards/rewards.js
Due: lint-js

Change interval boundaries
  staker-rewards/rewards.js
Due: lint-js

Fix `keep.js` import
  staker-rewards/lib/keep.js
Due: lint-js

Refactor SLA computations
  staker-rewards/rewards.js
Due: lint-js

Updated config sample docs
  configs/config.toml.SAMPLE
Due: none

Updated reference to latest keep-core master
  go.mod
  go.sum
Due: none

Move SLA logic to separate class
  staker-rewards/lib/sla-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Drafting merkle root and proofs generation
  .gitmodules
  rewards-merkle-generator.sh
  staker-rewards/staker-rewards-input.json
Due: none

Renaming event after rewards have been allocated
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Refresh the cache
  staker-rewards/data/cache.json
Due: none

Improving docs, error messages and renames
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Adding additional validation for receiveApproval()
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Set `GET_PAST_EVENTS_BLOCK_INTERVAL` to 2k
  staker-rewards/lib/contract-helper.js
Due: lint-js

Improve README description
  staker-rewards/README.adoc
Due: none

Rename `currentlyCached` variable
  staker-rewards/lib/cache.js
Due: lint-js

Rename `fetchKeep` method
  staker-rewards/lib/cache.js
Due: lint-js

Extract `fetchNewKeeps` method
  staker-rewards/lib/cache.js
Due: lint-js

Don't export internal keep.js functions
  staker-rewards/lib/keep.js
Due: lint-js

Additional docs to `CACHE_REFRESH` env
  staker-rewards/rewards.js
Due: lint-js

Removing KEEP balance check
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Improve error message about ETH_HOSTNAME
  staker-rewards/rewards.js
Due: lint-js

Adding a function to get total KEEP amount allocated for a given root
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Improve reward.js output messages
  staker-rewards/rewards.js
Due: lint-js

Using SafeMath for uint256 operations
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Extract `isInInterval` function
  staker-rewards/lib/sla-calculator.js
Due: lint-js

Rewards -> Reward
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Improving docs
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Improve sla-calculator.js docs
  staker-rewards/lib/sla-calculator.js
Due: lint-js

Cleanup and linting
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Do not include liquidations in the signature SLA
  staker-rewards/lib/sla-calculator.js
Due: lint-js

Update cache file
  staker-rewards/data/cache.json
Due: none

Renaming staker-rewards-input.json -> example-rewards-input.json
  staker-rewards/example-rewards-input.json
Due: none

Adding onlyOwner modifier for receiveApproval function
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol
