Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Importing OpenZeppelin Math.sol
  solidity/contracts/LPRewards.sol
Due: lint-sol

Importing OpenZeppelin SafeMath.sol
  solidity/contracts/LPRewards.sol
Due: lint-sol

Fixed incorrect end block for interval Dec04->Dec11
  staker-rewards/data/cache-keeps.json
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-12-04_2020-12-11.log.txt
  staker-rewards/reports/2020-12-04_2020-12-11.summary.txt
Due: none

Importing OpenZeppelin Ownable.sol
  solidity/contracts/LPRewards.sol
Due: lint-sol

Remove unused Context contract
  solidity/contracts/LPRewards.sol
Due: lint-sol

Importing OpenZeppelin SafeERC20.sol
  solidity/contracts/LPRewards.sol
Due: lint-sol

Changing the function order
  solidity/contracts/LPRewards.sol
Due: lint-sol

Linting only
  solidity/contracts/LPRewards.sol
Due: lint-sol

Cleanup comments
  solidity/contracts/LPRewards.sol
Due: lint-sol

Pass blocks as `reward.js` script input
  staker-rewards/rewards.js
Due: lint-js

Add block flags to generator script
  staker-rewards/README.adoc
  staker-rewards/rewards-merkle-generator.sh
Due: none

Add `block-by-date` as separate script
  staker-rewards/block-by-date.js
Due: lint-js

Adding receiveApproval() for KEEP tokens
  solidity/contracts/LPRewards.sol
Due: lint-sol

Adding basic tests for token allocations
  solidity/test/LPRewardsTest.js
Due: lint-js

Aligning name for a Uni pair token
  solidity/test/LPRewardsTest.js
Due: lint-js

Long options support for staker rewards script
  staker-rewards/README.adoc
  staker-rewards/rewards-merkle-generator.sh
Due: none

Add `block-by-date.sh` script
  staker-rewards/README.adoc
  staker-rewards/block-by-date.js
  staker-rewards/block-by-date.sh
Due: lint-js

Added rounding parameter to formatting
  staker-rewards/lib/numbers.js
  staker-rewards/lib/rewards-calculator.js
  staker-rewards/rewards.js
Due: lint-js

Updated logged rewards weight
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Refactoring of the `block-by-date.sh` script
  staker-rewards/README.adoc
  staker-rewards/block-by-date.js
  staker-rewards/block-by-date.sh
  staker-rewards/package-lock.json
  staker-rewards/package.json
Due: lint-js

Updated total rewards conversion in calculation
  staker-rewards/lib/rewards-calculator.js
Due: lint-js

Adding testing flow for earning the rewards and claiming them
  solidity/test/LPRewardsTest.js
Due: lint-js

Renaming 'wrapped' token to 'wrappedToken'
  solidity/contracts/LPRewards.sol
Due: lint-sol

Renaming rewardToken to keepToken
  solidity/contracts/LPRewards.sol
Due: lint-sol

Adding a comment regarding the original source of contracts
  solidity/contracts/LPRewards.sol
Due: lint-sol

Combining constants
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

ECDSA staker rewards 2020-12-11 -> 2020-12-18 allocation
  staker-rewards/data/cache-keeps.json
  staker-rewards/distributor/output-merkle-objects.json
  staker-rewards/reports/2020-12-11_2020-12-18.log.txt
  staker-rewards/reports/2020-12-11_2020-12-18.summary.txt
Due: none

Renaming user's 'wallet' to 'staker' which indicate his address
  solidity/test/LPRewardsTest.js
Due: lint-js

Owner account[0] -> rewardDistribution account[5] to align with the contract naming
  solidity/test/LPRewardsTest.js
Due: lint-js

Linting only
  solidity/test/LPRewardsTest.js
Due: lint-js

Call explicitly approveAndCall to show what is being tested
  solidity/test/LPRewardsTest.js
Due: lint-js

Simplifying balance check
  solidity/test/LPRewardsTest.js
Due: lint-js

Adding additional info to the test description
  solidity/test/LPRewardsTest.js
Due: lint-js

Deploying contracts from dedicated accounts to test more realistic scenario
  solidity/test/LPRewardsTest.js
Due: lint-js

Transferring KEEP rewards in notifyRewardAmount
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Dedicated LPRewards contracts for three pairs
  solidity/contracts/LPRewards.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Added beneficiary contract for escrow to LP rewards funding
  solidity/contracts/LPRewards.sol
  solidity/contracts/LPRewardsEscrowBeneficiary.sol
  solidity/test/LPRewardsTest.js
Due: lint-js, lint-sol

Changing test description 'allocate' -> 'stake'
  solidity/test/LPRewardsTest.js
Due: lint-js

Removing unnecessary assertions
  solidity/test/LPRewardsTest.js
Due: lint-js

Checking additional states in LP rewards contract
  solidity/test/LPRewardsTest.js
Due: lint-js
