Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Parse the creation timestamp to int
  staker-rewards/data/cache.json
  staker-rewards/lib/cache.js
  staker-rewards/rewards.js
Due: lint-js

Adding validation if a merkle root has allocated rewards
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Unit tests for staker rewards SLA calculations
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/test/data/test-cache.json
  staker-rewards/test/sla-calculator.test.js
Due: lint-js

Add staker rewards tests to Circle config
  .circleci/config.yml
Due: none

Add missing parts to the Circle config
  .circleci/config.yml
Due: none

Add NVM installation note to staker rewards README
  staker-rewards/README.adoc
Due: none

Updating scripts for merkle object generation
  .gitignore
  rewards-merkle-generator.sh
  staker-rewards/generate-merkle-root.ts
Due: none

Adding package.json for merkle generator
  staker-rewards/package.json
Due: none

Add an additional test keep
  staker-rewards/test/data/test-cache.json
Due: none

Basic calculations of the KEEP staked parameter
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
  staker-rewards/lib/contract-helper.js
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/rewards.js
Due: lint-js

Add linter config for staker rewards script
  .circleci/config.yml
  staker-rewards/.eslintrc
  staker-rewards/package-lock.json
  staker-rewards/package.json
Due: none

Fix linter errors
  staker-rewards/lib/cache.js
  staker-rewards/lib/context.js
  staker-rewards/lib/contract-helper.js
  staker-rewards/lib/keep.js
  staker-rewards/lib/sla-calculator.js
  staker-rewards/rewards.js
  staker-rewards/test/sla-calculator.test.js
Due: lint-js

Refresh staker rewards cache
  staker-rewards/data/cache.json
Due: none

Implement the `wasAskedForSignature` filter
  staker-rewards/lib/keep.js
  staker-rewards/lib/sla-calculator.js
  staker-rewards/rewards.js
  staker-rewards/test/sla-calculator.test.js
Due: lint-js

Logs and docs improvements around staker rewards
  staker-rewards/lib/sla-calculator.js
  staker-rewards/package.json
Due: lint-js

Replacing receiveApproval function with a seperate allocate function
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Detect fraudulent operators
  staker-rewards/lib/context.js
  staker-rewards/lib/frauds.js
  staker-rewards/rewards.js
Due: lint-js

Extract context mocking to separate functions
  staker-rewards/test/sla-calculator.test.js
Due: lint-js

Deploy ECDSARewards
  solidity/contracts/test/ECDSARewardsStub.sol
  solidity/migrations/2_deploy_contracts.js
  solidity/migrations/external-contracts.js
  solidity/scripts/initialize-ecds-rewards.js
  solidity/scripts/lcl-provision-external-contracts.sh
Due: lint-js, lint-sol

Adding merkleRoot param for RewardsClaimed event
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Removed submodule from include/ dir
  .gitmodules
Due: none

Moving merkle-distributor submodule to /staker-rewards dir
  .gitmodules
Due: none

Added dependency to keep-core and tbtc packages
  staker-rewards/package-lock.json
  staker-rewards/package.json
Due: none

Made fraud detector a class
  staker-rewards/lib/fraud-detector.js
  staker-rewards/lib/frauds.js
  staker-rewards/rewards.js
Due: lint-js

Output fraud status in operators table
  staker-rewards/lib/fraud-detector.js
  staker-rewards/rewards.js
Due: lint-js

Using npm instead of yarn
  staker-rewards/generate-merkle-root.ts
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/rewards-merkle-generator.sh
Due: none

Make the staker rewards script linter happy
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
  staker-rewards/lib/contract-helper.js
  staker-rewards/rewards.js
Due: lint-js

Simplify `lcl-provision-external-contracts` script
  solidity/scripts/lcl-provision-external-contracts.sh
Due: none

Assume all slashings are ECDSA Keep frauds related
  staker-rewards/lib/fraud-detector.js
  staker-rewards/package.json
  staker-rewards/rewards.js
Due: lint-js

Capitalize log messages
  staker-rewards/lib/fraud-detector.js
  staker-rewards/rewards.js
Due: lint-js

Added pre-commit hook for staker-rewards linting
  .pre-commit-config.yaml
Due: none

Determine blockspan for the rewards interval
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/rewards.js
Due: lint-js

Removed no longer used TBTCSystem contract definition
  staker-rewards/lib/context.js
Due: lint-js

Check the keep staked value at interval end block
  staker-rewards/lib/assets-calculator.js
Due: lint-js

Removed redundant log message on fraud detection
  staker-rewards/rewards.js
Due: lint-js

Placing merkleRoot as a first parameter in events and functions
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Adding indexed modifier to RewardsClaimed event
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Simplifying merkleRoots map to just indicate if it was allocated
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Calculations of the ETH unbonded and total values
  staker-rewards/lib/assets-calculator.js
  staker-rewards/lib/context.js
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/rewards.js
Due: lint-js

Updated order of classes initialization
  staker-rewards/rewards.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
