Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Replaced before with beforeEach for topUp test
  solidity/test/FullyBackedBondingTest.js
Due: lint-js

Added details to topup documentation
  solidity/contracts/fully-backed/FullyBackedBonding.sol
Due: lint-sol

Prevent TBTC monitoring duplication
  pkg/extensions/tbtc/monitoring_lock.go
  pkg/extensions/tbtc/monitoring_lock_test.go
  pkg/extensions/tbtc/tbtc.go
Due: none

keep-core dependency updated to the most recent -pre version
  solidity/package-lock.json
Due: none

Renamed minimumBond to defaultMinimimBond
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
Due: lint-js, lint-sol

Ban keep members from FullyBackedECDSAKeepFactory
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
Due: lint-sol

Ban keep members for signature fraud in FullyBackedBondedECDSAKeep
  solidity/contracts/fully-backed/FullyBackedECDSAKeep.sol
Due: lint-sol

Updated unit tests for FullyBacked ECDSA Keeps
  solidity/contracts/test/FullyBackedECDSAKeepCloneFactoryStub.sol
  solidity/contracts/test/FullyBackedECDSAKeepStub.sol
  solidity/test/BondedECDSAKeepFactoryTest.js
  solidity/test/BondedECDSAKeepTest.js
  solidity/test/FullyBackedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedECDSAKeepTest.js
Due: lint-js, lint-sol

Fixed ban members docs
  solidity/contracts/fully-backed/FullyBackedECDSAKeepFactory.sol
Due: lint-sol

Use sync.Map in the monitoring lock
  pkg/extensions/tbtc/monitoring_lock.go
Due: none

Make `waitForChainConfirmation` function public
  pkg/chain/chain.go
  pkg/chain/confirmation.go
  pkg/client/client.go
  pkg/client/registration.go
Due: none

Add confirmations to retrieve pubkey monitoring
  pkg/chain/ethereum/tbtc.go
  pkg/chain/local/tbtc.go
  pkg/chain/tbtc.go
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Add confirmations to remaining instances
  pkg/extensions/tbtc/tbtc.go
Due: none

Remove TODOs
  pkg/extensions/tbtc/tbtc.go
Due: none

ECDSA staker rewards cap set to 3M keep tokens per interval
  solidity/contracts/ECDSARewards.sol
  solidity/contracts/test/ECDSARewardsStub.sol
  solidity/test/rewards/TestECDSARewards.js
Due: lint-js, lint-sol

Improve Ethereum client wrappers adoption
  go.mod
  go.sum
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
Due: none

Added rewards escrow beneficiaries
  solidity/contracts/RewardsEscrowBeneficiaries.sol
Due: lint-sol

Improved docs of escrow beneficiaries
  solidity/contracts/RewardsEscrowBeneficiaries.sol
Due: lint-sol

Bumped up keep-core dependency to the most recent pre version
  solidity/package-lock.json
Due: none

Renamed sol file with escrow beneficiaries
  solidity/contracts/ECDSARewardsEscrowBeneficiary.sol
  solidity/contracts/RewardsEscrowBeneficiaries.sol
Due: lint-sol

1.3.0 release of contracts
  solidity/package-lock.json
  solidity/package.json
Due: none

Bumping up keep-ecdsa contracts version to 1.4.0-pre.0
  solidity/package-lock.json
  solidity/package.json
Due: none

Contracts release v1.3.1
  solidity/package-lock.json
  solidity/package.json
Due: none

fullyBackedBonding spec
  solidity/runCertora.sh
  solidity/specs/fullyBackedBonding.spec
  solidity/specs/harness/Beneficiary.sol
  solidity/specs/harness/FullyBackedBondingHarness.sol
Due: lint-sol

Remove signature submitted event lookup loop
  pkg/extensions/tbtc/tbtc.go
Due: none

Align mutex names in local chain implementations
  pkg/chain/local/bonded_ecdsa_keep.go
  pkg/chain/local/bonded_ecdsa_keep_factory.go
  pkg/chain/local/local.go
  pkg/chain/local/tbtc.go
Due: none

Add ctx param to local chain constructor
  pkg/chain/local/bonded_ecdsa_keep_factory_test.go
  pkg/chain/local/bonded_ecdsa_keep_test.go
  pkg/chain/local/local.go
  pkg/chain/local/local_test.go
  pkg/chain/local/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
  pkg/firewall/firewall_test.go
Due: none

Add test for local `SubmitSignature` method
  pkg/chain/local/local_test.go
Due: none

Rename `monitoringFilterFn` parameter
  pkg/extensions/tbtc/tbtc.go
Due: none

Test TBTC monitoring filtering
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Add comment about `IncreaseRedemptionFee` call
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Remove `monitoringLockKey` type
  pkg/extensions/tbtc/monitoring_lock.go
Due: none

Change monitoring lock warning message
  pkg/extensions/tbtc/tbtc.go
Due: none

Remove intermediary `monitoringLock` struct
  pkg/extensions/tbtc/monitoring_lock.go
  pkg/extensions/tbtc/monitoring_lock_test.go
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Add monitoring deduplication test scenario
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Fix failing unit test
  pkg/chain/local/tbtc.go
Due: none

Fix failing unit test - part 2
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Make rewards contract able to handle multiple concurrent factories
  solidity/contracts/DoubleFactoryECDSARewards.sol
Due: lint-sol

Change monitoring filtering logic
  cmd/start.go
  pkg/chain/local/tbtc.go
  pkg/client/client.go
  pkg/extensions/tbtc/tbtc.go
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Fix failing unit tests
  pkg/extensions/tbtc/tbtc_test.go
Due: none

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
