Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Remove `publishSignerPublicKey` method
  pkg/node/node.go
Due: none

Configurable TSS pre-params target pool size
  configs/config.toml.SAMPLE
  pkg/ecdsa/tss/config.go
  pkg/node/params_pool.go
Due: none

Improve log on signature wait timeout
  pkg/node/node.go
Due: none

Improve docs around signature publication delays
  pkg/node/node.go
Due: none

Change Version field type to string
  cmd/signing_ethereum.go
  cmd/signing_ethereum_test.go
Due: none

Added keyfile used in tests
  internal/testdata/eth_key.json
Due: none

Remove redundant logs about signature submission
  pkg/node/node.go
Due: none

put TBTCSystem address into quotes
  configs/config.toml.SAMPLE
Due: none

Staking rewards inspector stub
  stacker-rewards/inspector/README.adoc
  stacker-rewards/inspector/inspect-stacker-rewards.js
Due: lint-js

Fix filename typos
  staker-rewards/inspector/README.adoc
  staker-rewards/inspector/inspect-staker-rewards.js
Due: lint-js

Add truffle config and other dependencies
  staker-rewards/inspector/README.adoc
  staker-rewards/inspector/inspect-staker-rewards.js
  staker-rewards/inspector/package-lock.json
  staker-rewards/inspector/package.json
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/truffle.js
Due: lint-js

Updated reference to keep-common
  go.mod
  go.sum
Due: none

Code generated with the latest keep-common
  pkg/chain/gen/cmd/BondedECDSAKeep.go
  pkg/chain/gen/cmd/BondedECDSAKeepFactory.go
  pkg/chain/gen/cmd/BondedECDSAKeepVendor.go
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
Due: none

Updated reference to keep-core
  go.mod
  go.sum
Due: none

Configure MaxGasPrice and BalanceAlertThreshold with units
  cmd/start.go
  configs/config.toml.SAMPLE
  pkg/chain/ethereum/connect.go
Due: none

Added unit tests for config file parsing
  internal/config/config_test.go
  test/config.toml
Due: none

Rework the staker rewards inspector stub
  staker-rewards/inspector/README.adoc
  staker-rewards/inspector/package-lock.json
  staker-rewards/inspector/package.json
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/context.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
  staker-rewards/inspector/truffle.js
Due: lint-js

Reformat script readme
  staker-rewards/inspector/README.adoc
Due: none

Cache for fetched keeps
  staker-rewards/inspector/package-lock.json
  staker-rewards/inspector/package.json
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/cache.js
  staker-rewards/inspector/scripts/lib/context.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
Due: lint-js

Push keeps cache file
  staker-rewards/inspector/data/cache.json
Due: none

Cache latest keep statuses
  staker-rewards/inspector/data/cache.json
  staker-rewards/inspector/scripts/lib/cache.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
Due: lint-js

Moved config package out of internal directory
  Dockerfile
  cmd/signing.go
  cmd/signing_ethereum.go
  cmd/start.go
  config/config.go
  config/config_test.go
  config/time/time.go
  internal/testdata/config.toml
  pkg/chain/gen/cmd/BondedECDSAKeep.go
  pkg/chain/gen/cmd/BondedECDSAKeepFactory.go
  pkg/chain/gen/cmd/BondedECDSAKeepVendor.go
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/contract/BondedECDSAKeepVendor.go
  pkg/client/config.go
  pkg/ecdsa/tss/config.go
Due: none

Updated keep-common and keep-core reference version
  go.mod
  go.sum
Due: none

Improve docs above `PreParamsTargetPoolSize`
  configs/config.toml.SAMPLE
Due: none

Refresh active keeps status on script start
  staker-rewards/inspector/data/cache.json
  staker-rewards/inspector/scripts/lib/cache.js
Due: lint-js

Introduce `CACHE_REFRESH` env variable
  staker-rewards/inspector/README.adoc
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/cache.js
Due: lint-js

Pass interval boundaries and input validation
  staker-rewards/inspector/README.adoc
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/context.js
Due: lint-js

Added test for PreParamsTargetPoolSize confg param reading
  config/config_test.go
  internal/testdata/config.toml
Due: none

Test getters for config params
  config/config_test.go
Due: none

Improved gitignore for config files
  .gitignore
Due: none

Align functions types in contract-helper.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
Due: lint-js

Very early draft for merkle rewards distributor
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Update KEEP amount for the give merkle root
  solidity/contracts/ECDSARewardsDistributor.sol
Due: lint-sol

Add keep termination cause
  staker-rewards/inspector/data/cache.json
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/cache.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
Due: lint-js

Keep SLA computations
  staker-rewards/inspector/data/cache.json
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/cache.js
Due: lint-js

Introduce keep status enum
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
  staker-rewards/inspector/scripts/lib/cache.js
  staker-rewards/inspector/scripts/lib/contract-helper.js
Due: lint-js

Refresh keeps cache
  staker-rewards/inspector/data/cache.json
Due: none

Document input parameters
  staker-rewards/inspector/scripts/inspect-staker-rewards.js
Due: lint-js

Change staker rewards script structure
  staker-rewards/README.adoc
  staker-rewards/data/cache.json
  staker-rewards/lib/cache.js
  staker-rewards/lib/context.js
  staker-rewards/lib/contract-helper.js
  staker-rewards/package-lock.json
  staker-rewards/package.json
  staker-rewards/rewards.js
Due: lint-js

Change readme title
  staker-rewards/README.adoc
Due: none

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
