Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
 - repo: https://github.com/keep-network/pre-commit-golang.git
   rev: 4cc73f21101f9da1208719b02bbbe0a4c491497e
   hooks:
    - id: go-imports
    - id: go-vet
    - id: go-lint
 - repo: https://github.com/keep-network/pre-commit-hooks.git
   rev: 63e729f
   hooks:
    - id: check-added-large-files
    - id: pretty-format-json
      args: ['--autofix']
 - repo: local
   hooks:
    - id: lint-js
      name: 'lint js'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
      files: '\.js$'
      language: script
      description: "Checks JS code according to the package's linter configuration"
    - id: lint-sol
      name: 'lint solidity'
      entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

Use keep-common logging in the signing `Before` fn
  cmd/signing.go
Due: none

Print the error from `app.Run` instead of logging
  main.go
Due: none

Register applications for FullyBackedBondedECDSAKeepFactory
  solidity/contracts/CandidatesPools.sol
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
Due: lint-sol

Ban keep members from FullyBackedECDSAKeepFactory
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
Due: lint-sol

Ban keep members for signature fraud in FullyBackedBondedECDSAKeep
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeep.sol
Due: lint-sol

Updated unit tests for FullyBacked ECDSA Keeps
  solidity/contracts/test/FullyBackedBondedECDSAKeepCloneFactoryStub.sol
  solidity/contracts/test/FullyBackedBondedECDSAKeepStub.sol
  solidity/test/BondedECDSAKeepFactoryTest.js
  solidity/test/BondedECDSAKeepTest.js
  solidity/test/FullyBackedBondedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedBondedECDSAKeepTest.js
  solidity/test/FullyBackedBondingTest.js
Due: lint-js, lint-sol

Use working branch of sortition-pools
  solidity/package-lock.json
  solidity/package.json
Due: none

Update keep-common
  go.mod
  go.sum
Due: none

Tidy the go.sum
  go.sum
Due: none

Refactoring recognizedByFactory
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Adding stub for keep creation
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
Due: lint-sol

Adding test to run contract against real data
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Adding upgraded package-lock.json with the latest keep-core
  solidity/package-lock.json
Due: none

Making lint happy. Changing visibility for stub function from external to public
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
Due: lint-sol

Introduce the `MinimumKeyGenerationBalance` option
  configs/config.toml.SAMPLE
  pkg/client/config.go
Due: none

Fixing linting in ECDSABackportRewards.sol
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Expose the chain's `BalanceOf` method
  pkg/chain/chain.go
  pkg/chain/local/local.go
Due: none

Check the keygen balance before status update
  configs/config.toml.SAMPLE
  pkg/client/client.go
  pkg/client/config.go
  pkg/client/registration.go
Due: none

Removing unused constant
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Adding ECDSARewards.sol for rewards starting on Sep 14 2020
  solidity/contracts/ECDSARewards.sol
Due: lint-sol

Bumping up keep-core to 1.3.1-pre.2
  solidity/package.json
Due: none

Adding a comment why all the keeps are considred closed
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Simplifying logic for keep recognition by the factory
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Adding missiing package-lock after bumping keep-core
  solidity/package-lock.json
Due: none

Changing code for keep retrieval by its index
  solidity/contracts/ECDSABackportRewards.sol
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js, lint-sol

Update keep-core and keep-common dependencies
  go.mod
  go.sum
Due: none

Changing comment description
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Enable ethereum balance monitor
  cmd/start.go
  configs/config.toml.SAMPLE
  pkg/chain/chain.go
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/local/local.go
Due: none

2020-10-06 11:00 CET report
  testing/2020-10-06-1100CET.txt
Due: none

Adding multiplier in tests and changing keep size from 16 to 3
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Adding 2 hours interval between opening keeps
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Use the balance monitor constructor
  go.mod
  go.sum
  pkg/chain/ethereum/ethereum.go
Due: none

Changing interval length to 124 days
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Fixing creation timestamp retrieval for keeps
  solidity/contracts/ECDSABackportRewards.sol
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js, lint-sol

Adding docs and fixing comments
  solidity/contracts/ECDSABackportRewards.sol
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js, lint-sol

Replacing factory address param with address(this)
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js, lint-sol

Init keep with KeepBonding address
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
Due: lint-sol

Init keeps with already available addresses
  solidity/contracts/test/BondedECDSAKeepFactoryStub.sol
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js, lint-sol

Renaming keepCreationTimestamp -> firstKeepCreationTimestamp. Changed first keep creation time.
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Removing isAddress(keep) modifier, since it is already verified upstream
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol
