Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

keep-core contracts dependency updated to 1.3.0
  solidity/package-lock.json
  solidity/package.json
Due: none

Updated keep-core Go dependency to v1.3.0
  go.mod
  go.sum
Due: none

Include version and revision when building client Docker image
  Dockerfile
Due: none

Script to inspect shares of operators in the network
  solidity/scripts/shares.js
Due: lint-js

Updated sortition-pools dependency to 1.1.2
  solidity/package-lock.json
  solidity/package.json
Due: none

Bumped up contracts version to 1.2.1
  solidity/package-lock.json
  solidity/package.json
Due: none

2020-09-14 13:30 CET report
  testing/2020-09-14-1330CET.txt
Due: none

2020-09-15 12:00 CET report
  testing/2020-09-15-1200CET.txt
Due: none

Adjust mainnet info for ECDSA clients
  docs/run-keep-ecdsa.adoc
Due: none

Bump Solidity package to an RC version
  solidity/package.json
Due: none

Updated stake initialization time to 12 hours in docs
  docs/run-keep-ecdsa.adoc
Due: none

Information on the gas cost of operating the client
  docs/run-keep-ecdsa.adoc
Due: none

Line wrapping
  docs/run-keep-ecdsa.adoc
Due: none

Added "Reimbursed" column to the gas cost table
  docs/run-keep-ecdsa.adoc
Due: none

Check signer existence before key generation
  pkg/client/client.go
Due: none

ETH bonding contract
  solidity/contracts/ETHBonding.sol
Due: lint-sol

ETH staking contract
  solidity/contracts/ETHStaking.sol
Due: lint-sol

Added tests for ETH bonding and staking contracts
  solidity/test/ETHBondingTest.js
  solidity/test/ETHStakingTest.js
Due: lint-js

Added todo about initialization period
  solidity/contracts/ETHStaking.sol
Due: lint-sol

Updated visibility to match abstract contract
  solidity/contracts/ETHBonding.sol
Due: lint-sol

Updated events emitted on ETH stake
  solidity/contracts/ETHStaking.sol
  solidity/test/ETHStakingTest.js
Due: lint-js, lint-sol

Renamed ETHBonding to EthBonding
  solidity/contracts/ETHStaking.sol
  solidity/contracts/EthBonding.sol
  solidity/test/EthBondingTest.js
Due: lint-js, lint-sol

Renamed ETHStaking to EthDelegating
  solidity/contracts/EthBonding.sol
  solidity/contracts/EthDelegating.sol
  solidity/test/EthBondingTest.js
  solidity/test/EthDelegatingTest.js
Due: lint-js, lint-sol

Renamed stake to delegate
  solidity/contracts/EthDelegating.sol
  solidity/test/EthBondingTest.js
  solidity/test/EthDelegatingTest.js
Due: lint-js, lint-sol

Renamed _from to owner
  solidity/contracts/EthDelegating.sol
Due: lint-sol

Expect contract typed addresses in constructors
  solidity/contracts/AbstractBonding.sol
  solidity/contracts/EthBonding.sol
  solidity/contracts/KeepBonding.sol
  solidity/contracts/test/AbstractBondingStub.sol
Due: lint-sol

Added EthBonding to deployment script
  solidity/migrations/2_deploy_contracts.js
Due: lint-js

Combined EthDelegating into EthBonding
  solidity/contracts/EthBonding.sol
  solidity/contracts/EthDelegating.sol
  solidity/test/EthBondingTest.js
  solidity/test/EthDelegatingTest.js
Due: lint-js, lint-sol

Initialization period for ETH-only delegation
  solidity/contracts/EthBonding.sol
  solidity/test/EthBondingTest.js
Due: lint-js, lint-sol

Require minimum ETH value passed on delegation
  solidity/contracts/EthBonding.sol
  solidity/test/EthBondingTest.js
Due: lint-js, lint-sol

Added getDelegationInfo
  solidity/contracts/EthBonding.sol
  solidity/test/EthBondingTest.js
Due: lint-js, lint-sol

Renamed EthBonding to FullyBackedBonding
  solidity/contracts/FullyBackedBonding.sol
Due: lint-sol

Updated order of imports
  solidity/contracts/FullyBackedBonding.sol
Due: lint-sol

Moved FullyBackedBonding contract to dedicated directory
  solidity/contracts/fully-backed/FullyBackedBonding.sol
Due: lint-sol

Initial version of FullyBackedBondedECDSAKeep
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeep.sol
Due: lint-sol

Initial version of FullyBackedBondedECDSAKeepFactory
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
Due: lint-sol

Renamed EthBondingTest.js
  solidity/test/FullyBackedBondingTest.js
Due: lint-js

Rename contract interfaces
  pkg/chain/chain.go
Due: none

Remove contract reference from `EthereumChain`
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
Due: none

Introduce `KeepStakeChainHandle`
  cmd/start.go
  pkg/chain/ethereum/chain.go
  pkg/chain/ethereum/config.go
  pkg/chain/ethereum/eth_mode.go
  pkg/chain/ethereum/keep_mode.go
  pkg/chain/ethereum/stake_monitor.go
Due: none

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
