Repository keep-network/keep-ecdsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "cd solidity && npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Rename `OnBondedECDSAKeepCreated` method
  pkg/chain/chain.go
  pkg/chain/ethereum/keep_mode.go
  pkg/chain/local/local.go
  pkg/chain/local/local_test.go
  pkg/client/client.go
Due: none

TODO about renaming `BondedECDSAKeepCreatedEvent`
  pkg/chain/event.go
Due: none

Added unit tests for FullyBacked keep and bonding
  solidity/contracts/test/FullyBackedBondedECDSAKeepCloneFactoryStub.sol
  solidity/contracts/test/FullyBackedBondedECDSAKeepFactoryStub.sol
  solidity/contracts/test/FullyBackedBondedECDSAKeepStub.sol
  solidity/contracts/test/FullyBackedBondingStub.sol
  solidity/test/FullyBackedBondedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedBondedECDSAKeepTest.js
Due: lint-js, lint-sol

Added fully backed contracts to migrations scripts
  solidity/migrations/2_deploy_contracts.js
  solidity/migrations/3_initialize.js
Due: lint-js

Claim delegated authority in Fully Backed keep contract
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeep.sol
Due: lint-sol

Added missing import in Keep Factory contract
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
Due: lint-sol

Minor improvements to docs
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
  solidity/contracts/fully-backed/FullyBackedBonding.sol
Due: lint-sol

Lock bonding withdraw just after delegation
  solidity/contracts/fully-backed/FullyBackedBonding.sol
  solidity/test/FullyBackedBondedECDSAKeepFactoryTest.js
  solidity/test/FullyBackedBondedECDSAKeepTest.js
  solidity/test/FullyBackedBondingTest.js
Due: lint-js, lint-sol

Event already registered log levels changed from ERROR to WARNING
  pkg/client/client.go
Due: none

Increase sortition pool join eligibility check delay to 20 minutes
  pkg/client/registration.go
Due: none

Refined error message for failed sortition pool status monitoring
  pkg/client/registration.go
Due: none

Removed unused MAX_UINT20 constant
  solidity/contracts/ECDSAKeepRewards.sol
Due: lint-sol

Linting the code
  solidity/contracts/ECDSAKeepRewards.sol
Due: lint-sol

Added a TODO to finalize minimum keeps parameter
  solidity/contracts/ECDSAKeepRewards.sol
Due: lint-sol

Added KEEP asciiart to ECDSAKeepRewards contract
  solidity/contracts/ECDSAKeepRewards.sol
Due: lint-sol

TODO about tss node
  pkg/client/client.go
Due: none

Remove multiple signers support in the registry
  pkg/client/client.go
  pkg/registry/keeps.go
Due: none

Align unit tests of the keep registry
  pkg/registry/keeps_test.go
Due: none

Remove empty registry.go file
  pkg/registry/keeps.go
  pkg/registry/registry.go
Due: none

Bump keep-common dependency
  go.mod
  go.sum
Due: none

Return on `RegisterSigner` failure
  pkg/client/client.go
Due: none

Make signer snapshot just after generating it
  pkg/client/client.go
  pkg/node/node.go
  pkg/registry/keeps.go
  pkg/registry/keeps_test.go
  pkg/registry/storage.go
Due: none

Signing CLI - decrypt key share command
  cmd/signing.go
  main.go
Due: none

Signing CLI - sign digest command
  cmd/signing.go
Due: none

Pass keep address as argument
  cmd/signing.go
Due: none

Change sign-digest flags to be arguments
  cmd/signing.go
Due: none

Print decrypted shares to stdout
  cmd/signing.go
Due: none

Fix stdout writing
  cmd/signing.go
Due: none

Change sign-digest output
  cmd/signing.go
Due: none

Increasing keep-core version to 1.3.1-pre.1 which includes Rewards contract
  solidity/package.json
Due: none

Adding parameters for ECDSA backport rewards
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Adding functions to ecdsa backport rewards
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Removing params from constructor
  solidity/contracts/ECDSABackportRewards.sol
Due: lint-sol

Adding draft test around ecdsa backport rewards
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Fixing token address for ecdsa backport rewards
  solidity/test/rewards/TestECDSABackportRewards.js
Due: lint-js

Replace the `keepRegistry.GetSigners` usage
  cmd/signing.go
Due: none

Add a comment to the return statement
  pkg/client/client.go
Due: none

Refactor the register signer duplicate test
  pkg/registry/keeps_test.go
Due: none

Write decrypted shares to stdout conditionally
  cmd/signing.go
Due: none

Renamed minimumBond to defaultMinimimBond
  solidity/contracts/fully-backed/FullyBackedBondedECDSAKeepFactory.sol
  solidity/test/FullyBackedBondedECDSAKeepFactoryTest.js
Due: lint-js, lint-sol

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
